<section id="gallery">
    <div class="title-area">
        <h5><i class="bi bi-folder-fill"></i> {{"GALLERY.SUBTITLE" | translate}}</h5>
        <h1>{{"GALLERY.TITLE" | translate}}</h1>
    </div>
    <div class="browser">
        <div class="tabs-area">
            <div class="system-btn-area">
                <div class="system-btn red"></div>
                <div class="system-btn yellow"></div>
                <div class="system-btn green"></div>
            </div>
            <div class="tabs-wrapper">
                @for (title of titles; track $index) {
                    <div class="tab"
                    [class.active]="activeIndex === $index"
                    (click)="setActive($index)"
                    >
                    
                        <img [src]="icons[$index]" alt="">

                    <p>
                        {{ title }}
                    </p>
                    <h5 [class.active-h5]="activeIndex === $index">
                        <i class="bi bi-x"></i>
                    </h5>
                </div>
                }
            </div>
        </div>
        <div class="toolbar">
            <div class="arrow-area">
                <i class="bi bi-arrow-left"></i>
                <i class="bi bi-arrow-right"></i>
                <i class="bi bi-arrow-clockwise" (click)="refresh()"></i>
            </div>
            <div class="searchbar">
                <div class="searchbar-left">
                    <i class="bi bi-shield"></i>
                    <i class="bi bi-sliders"></i>
                    @for(link of links; track $index) {
                        <p [class.active-link]="activeIndex === $index">https://{{link}}</p>
                    }
                </div>
                <i class="bi bi-translate"></i>
            </div>
            <div class="extensions">
                <i class="bi bi-download"></i>
                <i class="bi bi-puzzle"></i>
                <div>
                    <i class="bi bi-list" id="menu" (click)="menuClick()"></i>
                </div>
            </div>
        </div>
        <div class="browser-result">
            
            @for(img of imgs; track $index) {
                <img [src]="img" alt="app showcase" [class.active-img]="activeIndex === $index" class="pc-img">
            }
            @for(img of imgsPhone; track $index) {
                <img [src]="img" alt="app showcase" [class.active-phone]="activeIndex === $index" class="mobile-img">
            }
            <p [class.active-p]="activeIndex == 0"><a>VISIT WEBSITE</a> <i class="bi bi-box-arrow-up-right"></i></p>
        </div>
    </div>
</section>