<section id="gallery">
    <div class="title-area">
        <h5><i class="bi bi-folder-fill"></i> PROJECTS</h5>
        <h1>BROWSE MY WORK</h1>
    </div>
    <div class="browser">
        <div class="tabs-area">
            <div class="system-btn-area">
                <div class="system-btn red"></div>
                <div class="system-btn yellow"></div>
                <div class="system-btn green"></div>
            </div>
            <div class="tabs-wrapper">
                @for (title of titles; track $index) {
                    <div class="tab"
                    [class.active]="activeIndex === $index"
                    (click)="setActive($index)"
                    >
                    
                        <img [src]="icons[$index]" alt="">

                    <p>
                        {{ title }}
                    </p>
                    <h5 [class.active-h5]="activeIndex === $index">
                        ×
                    </h5>
                </div>
                }
            </div>
        </div>
        <div class="toolbar">
            <div class="arrow-area">
                <i class="bi bi-arrow-left"></i>
                <i class="bi bi-arrow-right"></i>
                <i class="bi bi-arrow-clockwise"></i>
            </div>
            <div class="searchbar">
                <div class="searchbar-left">
                    <i class="bi bi-shield"></i>
                    <i class="bi bi-sliders"></i>
                    @for(link of links; track $index) {
                        <p [class.active-link]="activeIndex === $index">https://{{link}}</p>
                    }
                </div>
                <i class="bi bi-translate"></i>
            </div>
            <div class="extensions">
                <i class="bi bi-download"></i>
                <i class="bi bi-puzzle"></i>
                <i class="bi bi-list" id="menu"></i>
            </div>
        </div>
        <div class="browser-result">
            @for(img of imgs; track $index) {
                <img [src]="img" alt="" [class.active-img]="activeIndex === $index">
            }
            <!-- <img src="images/dribble_pc.png" alt=""> -->
        </div>
    </div>

<!-- 
    <article>
        <div class="img-wrapper">
            <img src="/images/laptop.png" alt="">
        </div>
        <div class="article-content">
            <h2>
                DRIBBLE MUSIC
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, iure repellendus dolores reiciendis perspiciatis doloremque nemo qui corporis unde placeat, ducimus molestiae ipsum voluptatem voluptatibus ut quia. Neque culpa accusantium reprehenderit sed, libero aliquid qui! Temporibus, tempore. Inventore eius praesentium, nam, accusantium alias voluptas illo nostrum vero voluptatibus beatae maiores.
            </p>
            <div class="badges-wrapper">
                <div class="badge angular-badge">
                     <i class="devicon-angular-plain"></i> Angular
                </div>
                <div class="badge spotify-badge">
                    <i class="bi bi-spotify"></i> Spotify API
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="img-wrapper">
            <img src="/images/laptop.png" alt="">
        </div>
        <div class="article-content">
            <h2>
                FERVO CASINO
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, iure repellendus dolores reiciendis perspiciatis doloremque nemo qui corporis unde placeat, ducimus molestiae ipsum voluptatem voluptatibus ut quia. Neque culpa accusantium reprehenderit sed, libero aliquid qui! Temporibus, tempore. Inventore eius praesentium, nam, accusantium alias voluptas illo nostrum vero voluptatibus beatae maiores.
            </p>
            <div class="badges-wrapper">
                <div class="badge angular-badge">
                     <i class="devicon-angular-plain"></i> Angular
                </div>
                <div class="badge spotify-badge">
                    <i class="bi bi-spotify"></i> Spotify API
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="img-wrapper">
            <img src="/images/laptop.png" alt="">
        </div>
        <div class="article-content">
            <h2>
                CAREMATCH
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, iure repellendus dolores reiciendis perspiciatis doloremque nemo qui corporis unde placeat, ducimus molestiae ipsum voluptatem voluptatibus ut quia. Neque culpa accusantium reprehenderit sed, libero aliquid qui! Temporibus, tempore. Inventore eius praesentium, nam, accusantium alias voluptas illo nostrum vero voluptatibus beatae maiores.
            </p>
            <div class="badges-wrapper">
                <div class="badge angular-badge">
                     <i class="devicon-angular-plain"></i> Angular
                </div>
                <div class="badge spotify-badge">
                    <i class="bi bi-spotify"></i> Spotify API
                </div>
            </div>
        </div>
    </article> -->
</section>