<app-header></app-header>
<section class="landing-page" id="home">
        
        <img src="backgrounds/background-forest-3.webp" alt="background night sky with forest">
        <div class="landing-content">
             <h1 class="light-onload">WEB DEV /<br> PAZDZIOR</h1>
             <p>{{'HOME.SUBTITLE' | translate}}</p>
                <div class="button-wrapper">
                        <a class="landing-btn contact-btn" href="#contact">{{ 'HOME.CONTACT_ME_BTN' | translate }}</a>
                        <a class="landing-btn about-btn" href="#about-me">{{ 'HOME.ABOUT_BTN' | translate }}</a>
                </div>
        </div>
</section>
<app-about-me></app-about-me>
<app-languages></app-languages>
<app-click-counter></app-click-counter>
<app-gallery></app-gallery>
<app-contact></app-contact>
<app-footer></app-footer>