<section id="about-me">
    <div class="title-area">
        <h4><i class="bi bi-person-lines-fill"></i> ABOUT ME</h4>
        <h1>MORE THAN JUST FRONTENT DEVELOPER</h1>
    </div>
    
    <div class="article-area">
        <article>
            <div class="icon">
                <i class="bi bi-globe2"></i>
            </div>
            <h5>CLIENT-FRIENDLY VISUALS</h5>
            <p>
                Skilled in creating prototypes and mockups with Figma, making it easier for clients to see ideas before development. I am able to bridge the gap between concept and final product.

            </p>
            <a href="">Start Collaboration</a>
            <div class="article-block"></div>
        </article>
        <article>
            <div class="icon">
                 <i class="bi bi-people-fill"></i>
            </div>
            <h5>WORKING IN TEAMS</h5>
            <p>Experienced in multi-person projects, using GitLab and modern workflows to keep everything organized and moving smoothly. I value clear communication and working towards a common goal.</p>
            <a href="">Get Started</a>
            <div class="article-block"></div>
        </article>
        <article>
            <div class="icon">
                <i class="bi bi-phone"></i>
            </div>
            <h5>UNIVERSAL UX</h5>
            <p>
                Skilled at building applications that work seamlessly across desktops, tablets, and smartphones. I make sure every project adapts to different screen sizes and delivers a smooth user experience on any device.

            </p>
            <a href="">Contact Me</a>
            <div class="article-block"></div>
        </article>
    </div>
    <div class="button-wrapper">
        <a class="contact-btn" href="">GET IN TOUCH</a>
    </div>
</section>