<section id="about-me">
    <div class="title-area">
        <h4><i class="bi bi-person-lines-fill"></i> {{'ABOUT_ME.SUBTITLE' | translate}}</h4>
        <h1>{{'ABOUT_ME.TITLE' | translate}}</h1>
    </div>
    
    <div class="article-area">
        <div #articleWrapper class="article-wrapper">

            <article>
                <div class="icon">
                    <i class="bi bi-globe2"></i>
                </div>
                <h5>{{'ABOUT_ME.ART_TITLE_1' | translate}}</h5>
                <p>
                    {{'ABOUT_ME.ART_P_1' | translate}}
    
                </p>
                <a href="#contact">{{'ABOUT_ME.ART_A_1' | translate}}</a>
                <div class="article-block"></div>
            </article>
        </div>
        <div #articleWrapper class="article-wrapper">

            <article>
                <div class="icon">
                     <i class="bi bi-people-fill"></i>
                </div>
                <h5>{{'ABOUT_ME.ART_TITLE_2' | translate}}</h5>
                <p>{{'ABOUT_ME.ART_P_2' | translate}}</p>
                <a href="#contact">{{'ABOUT_ME.ART_A_2' | translate}}</a>
                <div class="article-block"></div>
            </article>
        </div>
        <div #articleWrapper class="article-wrapper">

            <article>
            <div class="icon">
                <i class="bi bi-phone"></i>
                </div>
                <h5>{{'ABOUT_ME.ART_TITLE_3' | translate}}</h5>
                <p>
                    {{'ABOUT_ME.ART_P_3' | translate}}
    
                </p>
                <a href="#contact">{{'ABOUT_ME.ART_A_3' | translate}}</a>
                <div class="article-block"></div>
            </article>
        </div>
    </div>
    <div class="button-wrapper">
        <a class="contact-btn" href="#contact">{{'ABOUT_ME.BOTTOM_BTN' | translate}}</a>
    </div>
</section>