<section id="about-me">
    <div class="title-area">
        <h4><i class="bi bi-person-lines-fill"></i> ABOUT ME</h4>
        <h1>MORE THAN JUST FRONTENT DEVELOPER</h1>
    </div>
    
    <div class="article-area">
        <article>
            <div class="icon">
                <i class="bi bi-globe2"></i>
            </div>
            <h5>Who am I?</h5>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dolorum iure quibusdam nesciunt saepe consequatur minima sit reiciendis odio incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ullam similique suscipit in esse nostrum temporibus, minima aspernatur cum blanditiis.
            </p>
            <div class="article-block"></div>
        </article>
        <article>
            <div class="icon">
                <i class="bi bi-terminal-fill"></i>
            </div>
            <h5>What can I do?</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint totam earum dignissimos quo expedita officiis rem iusto ea eius repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores perspiciatis corrupti animi ipsa? Veritatis magni omnis rerum delectus, aliquam temporibus.</p>
            <div class="article-block"></div>
        </article>
        <article>
            <div class="icon">
                <i class="bi bi-people-fill"></i>
            </div>
            <h5>Why me?</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, sed expedita. Expedita, culpa molestiae fugiat ut voluptatum architecto nostrum hic?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quibusdam a optio corporis maiores? Vitae illum voluptatibus culpa omnis commodi.
            </p>
            <div class="article-block"></div>
        </article>
    </div>
</section>