<div id="particles"></div>
<section id="demo">
    <div class="title-area">
        <h5> <i class="bi bi-cpu-fill"></i> INTERACTIVE DEMO</h5>
        <h1>NOT JUST CODE. EXPERIENCES</h1>
    </div>
    <div class="clicker-area">
        
        <div class="whole-monitor">

            <div class="monitor">
                <div class="screen">
                    <p class="screen-info">NO SIGNAL</p>
                    <img src="/backgrounds/charts.webp" alt="">
                    <div class="loading-bar-container" *ngIf="loading">
                        <div class="loading-bar" [style.width.%]="loadingProgress"></div>
                    </div>
            </div>
            <div class="stand"></div>
            <div class="base"></div>
            <p id="under-p">Interactive dashboard prototype</p>
        </div>

        </div>
<svg #cableSvg class="cable" viewBox="100 50 300 50" preserveAspectRatio="xMidYMid meet">
  <path class="base"
        d="M 400 75 Q 350 50, 300 75 T 200 75 T 100 75"
        stroke="#555"
        stroke-width="4"
        fill="none" />

  <path class="fillable"
        d="M 400 75 Q 350 50, 300 75 T 200 75 T 100 75"
        stroke="#0395f7"
        stroke-width="4"
        fill="none"
        stroke-dasharray="400"
        stroke-dashoffset="400" />

</svg>
        <button class="pushable" (click)="onButtonClick()">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front"> Push Me </span>
        </button>
    </div>
    <div class="side-circle"></div>
    <div class="side-circle neon"></div>
    
</section>