header, ul{
  display: flex;
  align-items: center;
  font-size: 14px;
      font-family: 'Switzer', sans-serif;

}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

header{
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 0;
  transition: all 0.5s,
  opacity 2s,
  background-color .8s;
  font-weight: 300;
  justify-content: space-between;
  position: relative;
  height: 75px;
  padding: 20px;
  left: unset;
  right: 0;
  transform: none;
  
}
header.nav-scroll-scroll{
  background-color: #010017; 
  color: #ffffffa1;
  top: 0;
  left: 0;
  margin: 10px 25px;
  width: 90vw;
  max-width: 100vw;
  box-shadow: rgba(149, 157, 165, 0.251) 0px 8px 24px;
  font-weight: 500;
  border-radius: 9999px;
  padding: 30px;
  
}
.login-btn > a{
  text-decoration: none;
  color: inherit;
}
button.nav-login-scroll{
  background-color: #0395f7;
  filter: drop-shadow(2px 2px 6px #0395f7);
  color: rgba(255, 255, 255, 0.759);
  font-weight: 900;
}

.header-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav{
  height: 100%;
}
ul{
  height: 100%;
  justify-content: center;
  gap: 1.35rem;
  list-style: none;
  margin: 0;
}
header li{
  padding: 15px;
}
header nav a{
  transform: scale(1.25,1);
  letter-spacing: 0.5px;
  color: inherit;
  display: block;
  border-radius: 15px;
  border: 4px transparent solid;
  text-decoration: none;
  position: relative;
}
header{
  color: #d2d2d29d;
}


header nav a::before,
header nav a::after {
  content: "";
  position: absolute;
  background-color: rgba(166, 166, 166, 0.059);
  width: 0%;
  height: 100%;
  top: 0;
  transition: width 0.15s ease-in-out;
  z-index: 0;
}

header nav a::before {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

header nav a::after {
  right: 50%;
  transform: translateX(50%);
  border-radius: 5px;
}

header nav a:hover::before,
header nav a:hover::after {
  width: 100%;
}
header nav a:hover{
  filter: drop-shadow(0 0 6px #fff);
  color: #fff;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}
 a.nav-a-scroll:hover{
  color: black;
  border-radius: 0px;
}
button.nav-login-scroll:hover{
  color: #fff;
} 
.hamburger{
  
  display: none;

}

.hamburger div{
    display: none;
    
    
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2.5px;
    background-color: #ffffff5b;
    border-radius: 30px;
    margin: 6px 0;
    transition: 0.2s;
  }
  .comp-section .bar1,.comp-section .bar2,.comp-section .bar3 {
    background-color: #edf0f188;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: #fff;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -6px) rotate(45deg);
    background-color: #fff;
  }

/* Poprawka mobile menu */
.burger-active.burger-active.burger-active{
    border-radius: 9999px 9999px 0px 0px;
}
.mobile-menu {
  background-color: #010017; 
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 0 0 50px 50px;
}
.mobile-menu a{
  border-radius: 0px;
  width: 85%;
  border-bottom: 1px solid #ffffff25;
  color: var(--font-secondary);
  text-decoration: none;
  padding: 20px;
  
}

header .mobile-menu.menu-active {
  opacity: 1;
  transition: 1s all;
  box-shadow: 0px 10px 10px 2px #ffffff36;
  display: flex;
}
.mobile-button{
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  nav ul, header button{
      display: none;
  }
  .hamburger{
      display: block;
  }
  .hamburger div{
      display: block;
      position: relative;
  }
  header{
    height: 50px;
  }
  header.nav-scroll-scroll .hamburger div{
    background-color: #ffffff92;
 
  }
  header{
    gap: 10px;
    justify-content: end;
  }
}

#translate-dropdown{
  text-align: end;
  font-size: 22px;
  background-color: transparent;
  color: #d2d2d29d;
  border: 0;
  margin-right: 20px;
  
}
#translate-dropdown:focus{
  outline: none;
}
.dropdown-wrapper{
  position: relative;
  margin-left: auto;
  display: flex;
}

