<div class="header-wrapper">
    
    <header>
        <nav>
            <ul>
                    <a class='nav-link' href='#home'><li>HOME</li></a>
                    <a class='nav-link' href="#about-me"><li>ABOUT ME</li></a>
                    <a class='nav-link'><li>SKILLS</li></a>
                    <a class='nav-link'><li>CONTACT</li></a>
                </ul>
            </nav>
            <button class='login-btn button'><a> <span>Projects</span><i class="bi bi-arrow-right-circle-fill"></i></a></button>
            <div class="hamburger">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <ul class="mobile-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="" class="mobile-link">Features</a></li>
                    <li><a href="" class="mobile-link">Pricing</a></li>
                    <li><a href="" class="mobile-link">Career</a></li>
                    <li><a href="" class="mobile-link">Contact</a></li>
                    <li><a  href="gallery.html" class="mobile-button mobile-link">My Projects <i class="bi bi-file-earmark-person"></i></a></li>
                </ul>
    </header>
</div>