header, ul{
  display: flex;
  align-items: center;
  font-size: 14.5px;
}
header{
  opacity: 0;
  top: 0;
  left: 0;
  letter-spacing: 0.15em;
  margin: 20px;
  transition: all 0.5s,
  opacity 2s,
  background-color .8s;
  font-weight: 300;
  justify-content: space-between;
  position: relative;
  height: 90px;
  width: 100vw;
  padding: 0px 15px;
  left: unset;
  right: 0;
  transform: none;
}
header.nav-scroll-scroll{
  background-color: #010012;
  color: #ffffffa1;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: 700;
  padding: 30px;
  
}

button.nav-login-scroll{
  background-color: #0395f7;
  filter: drop-shadow(2px 2px 6px #0395f7);
  color: rgba(255, 255, 255, 0.759);
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav{
  height: 100%;
}
ul{
  height: 100%;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
  margin: 0;
}
header li{
  padding: 15px;
}
header nav a{
  color: inherit;
  display: block;
  border-radius: 15px;
  border: 4px transparent solid;
  text-decoration: none;
  position: relative;
}
header{
  color: #d2d2d29d;
}


header nav a::before,
header nav a::after {
  content: "";
  position: absolute;
  background-color: rgba(166, 166, 166, 0.059);
  width: 0%;
  height: 100%;
  top: 0;
  transition: width 0.15s ease-in-out;
  z-index: 0;
}

header nav a::before {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

header nav a::after {
  right: 50%;
  transform: translateX(50%);
  border-radius: 5px;
}

header nav a:hover::before,
header nav a:hover::after {
  width: 100%;
}
header nav a:hover{
  filter: drop-shadow(0 0 6px #fff);
  color: #fff;
  transition: 0.2s;
}

.button {
  color: #ffffff51;
  background-color: #ffffff18;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  /* filter: drop-shadow(2px 2px 6px #d1d5db); */
  border-radius: 15px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  border: 0;
  width: 125px;
  height: 40px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.759);
  filter: drop-shadow(0px 0px 6px #0395f7);
  background-color: #0395f7;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.button > a{
  font-family: 'Satoshi-Variable';
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* header button{
  background-color: transparent;
  text-shadow: #fff 1px 0 10px;
  border-color: #ffffff43;
}
header button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
 */

a:hover {
  cursor: pointer;
}
 a.nav-a-scroll:hover{
  color: black;
  border-radius: 0px;
}
button.nav-login-scroll:hover{
  color: #fff;
} 
.hamburger{
  display: none;
  margin: 0 2em;
}

.hamburger div{
    display: none;
    
    
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff7e;
    border-radius: 30px;
    margin: 6px 0;
    transition: 0.2s;
  }
  .comp-section .bar1,.comp-section .bar2,.comp-section .bar3 {
    background-color: #edf0f188;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.mobile-menu{
  width: 100vw;
  z-index: 10;
  text-align: center;
  display: none;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 1.5em 10em;
}
.mobile-button{
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  nav ul, header button{
      display: none;
  }
  .hamburger{
      display: block;
  }
  .hamburger div{
      display: block;
      position: relative;
  }
}
