@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  --main-bg: #010012;
}

@font-face {
  font-family: 'Landing-Font';
  src: url('assets/font2.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('assets/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panching';
  src: url('assets/panching2.otf') format('opentype');
  
}


@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bounded-Variable';
  src: url('assets/Bounded-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Satoshi-Variable';
  font-weight: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: #010012;
}
html{
  scroll-behavior: smooth;
}
section{
  background-color: var(--main-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}