@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
  --main-bg: #010012;
  --blue: #0395f7;
  --font-secondary: #ffffffbc;
}

@font-face {
  font-family: 'Landing-Font';
  src: url('assets/font2.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('assets/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panching';
  src: url('assets/panching2.otf') format('opentype');
  
}


@font-face {
  font-family: 'Bounded';
  src: url('assets/Bounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bounded-Variable';
  src: url('assets/Bounded-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Satoshi-Variable';
  font-weight: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: #010012;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section{
  background-color: var(--main-bg);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.button {
  transition: all 0.5s,
  opacity 2s,
  background-color .8s;
  color: #ffffff51;
  background-color: #ffffff18;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  border: 0;

}

.button .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.759);
  filter: drop-shadow(0px 0px 6px #0395f7);
  background-color: #0395f7;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
.button > a{
  z-index: 1000;
  padding: 0.7rem 1rem;
  font-family: 'Satoshi-Variable';
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

h5{
    letter-spacing: 1.5px;
    filter: drop-shadow(2px 2px 3px #029affe0);
    color: #029affe0;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 8px;
}
.title-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.title-area h1{
    font-family: 'Satoshi-Variable', sans-serif;
    color: #bcbcc0;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
}
@media (width > 1500px){
  .title-area{
    transform: scale(1.2);
  }
}