<section id="skills">
    <div class="img-area">
        <div class="img-wrapper">
            <div class="img-blur"></div>
            <img src="images/image.png" alt="">
        </div>
    </div>
    <div class="content-section">
        <div class="title-area">
            <h5><i class="bi bi-stack"></i> {{'SKILLS.SUBTITLE' | translate}}</h5>
            <h1>{{'SKILLS.TITLE' | translate}}</h1>
        </div>
        <p><span id="span1">“</span> {{'SKILLS.P' | translate}} <span id="span2">”</span></p>
    <div class="hex-container">
  <div class="hex-row row-1">
    <div class="hex" id="css3"><i class="devicon-css3-plain colored"></i></div>
    <div class="hex" id="react"><i class="devicon-react-original colored"></i></div>
    <div class="hex" id="ts"><i class="devicon-typescript-plain colored"></i></div>
    <div class="hex" id="js"><i class="devicon-javascript-plain colored"></i></div>
  </div>
  <div class="hex-row row-2">
    <div class="hex" id="sql"> <i class="devicon-azuresqldatabase-plain colored"></i></div>
    <div class="hex" id="angular-hex"><i class="devicon-angular-plain" id="angular"></i></div>
    <div class="hex" id="bootstrap"> <i class="devicon-bootstrap-plain colored"></i></div>
  </div>
  <div class="hex-row row-3">
    <div class="hex" id="php"><i class="devicon-php-plain colored"></i></div>
    <div class="hex" id="node"><i class="devicon-nodejs-plain colored"></i></div>
  </div>
    </div>
</div>
</section>