<footer>
    <div class="content-wrapper">
        
        <p>"Turning concepts into responsive, user-friendly websites."</p>
        <ul id="contact-ul">
            <h2>CONTACT</h2>
            <li>PAZDZIOR.KRZYSZTOF.DEV&#64;GMAIL.COM</li>
            <li>PAZDZIOR-PORTFOLIO.COM</li>
            <li>+48 731 231 737</li>
        </ul>
        <ul id="nav-ul">
            <h2>NAVIGATION</h2>
            <li><a href="#about-me">ABOUT ME</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#gallery">PROJECTS</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <div class="left-wrapper">
            <p>Supported by Render <i class="bi bi-database-fill"></i></p>
            <h4>Powered by Angular <i class="devicon-angular-plain" id="angular"></i></h4>
        </div>
        <!-- <a href="#home">Back to top</a> -->
        <div class="bottom-info">
            <p>&copy;2025 Pazdzior - Full rights</p>
            <h6>Website designed by a licensed web developer</h6>
        </div>
    </div>
</footer>