footer{
    display: flex;
    flex-direction: column;
    background-color: #01041e;
    padding: 0 50px 50px 50px;
    gap: 100px;
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    color: var(--font-secondary);
    height: 200px;
}

.content-wrapper>p{
    width: 33%;
}
footer .content-wrapper>p{
    font-family: 'Switzer', sans-serif;
    font-weight: 900;
    font-size: 30px;
    display: flex;
}
ul h2{
    margin-bottom: 5px;
}
ul{
    display: flex;
    list-style: none;
    position: relative;
    flex-direction: column;
    align-items: start;
}
li{
    display: flex;
    letter-spacing: 1px;
    color: var(--font-secondary);
}

a{
    color: inherit;
    text-align: start;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    justify-content: start;
    align-items: center;
    height: 35px;
    width: 125px;
    font-weight: 400;
    border-radius: 15px;
    
}
ul a:hover{
    transition: 0.6s all ease;
    color: #fff;
}

ul h2{
    font-size: 15px;
    color: #ffffffdc;
    font-weight: 600;
    text-decoration: 5px wavy #fff;
}
h2{
    display: flex;
    justify-content: start;
    width: 125px;
    font-weight: 500;
}
#nav-ul{
    align-items: end;
}
.contact-ul li{
    height: 35px;
    text-align: start;
}
.contact-ul>li:hover{
    color:#fff;
    cursor: pointer;
}   
.contact-ul>li:active{
    text-shadow: 0px 0px 6px #fff;
}
hr{
    border-bottom: 0px;
    border-color: rgb(34, 34, 92);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    color: var(--font-secondary);
}
.footer-bottom>*{
    width: 33%;
    justify-content: center;
}
.footer-bottom .left-wrapper{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.left-wrapper p{
    color: #ffffff80;
    font-size: 18px;
    font-weight: 500;
}
.bottom-info *{
    font-size: 16px;
    text-align: end;
}
.bottom-info{
    display: flex;
    flex-direction: column;
}
footer .footer-bottom>a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    width: 100%;

}

#phone{
    color: var(--font-secondary);
    text-decoration: none;
}

.footer-ul-area{
    width: 55%;
    display: flex;
    gap: 8%;
}
#social li .crossed{
        text-decoration: line-through;

}
#social li .crossed:hover{
    color: var(--font-secondary);
    cursor: auto;
}


@media (width <= 900px){
    ul.contact-ul{
        align-items: center;
    }
    .content-wrapper{
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    h2{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    a{
        display: flex;
        justify-content: center;
    }
    .content-wrapper p{
        text-align: center;
    }
    .content-wrapper>*{
        width: 100%;
    }
    .footer-ul-area{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-ul-area>ul>*{
        text-align: center ;
    }
    .content-wrapper ul#nav-ul{
        width: 100%;
        align-items: center;
    }
    .footer-bottom *{
        font-size: 12px !important;
        width: 50%;
    }
    .bottom-info>*{
        width: 100%;
    }
    .left-wrapper>*{
        width: 100%;
    }
    #nav-ul a{
        justify-content: center;
    }
    footer{
        padding: 0 20px 20px 20px;
    }
    .content-wrapper > p{
        width: 100%;
    }
}