<section id="contact">
    <div class="title-area">
        <h5><i class="bi bi-envelope-at-fill"></i> {{"CONTACT.SUBTITLE" | translate}}</h5>
        <h1>{{"CONTACT.TITLE" | translate}}</h1>
    </div>
    <div class="contact-content">
        <div class="my-contact">
            <div class="business-card"  (mousemove)="onCardMove($event)"
     (mouseleave)="resetCard()"
     [style.transform]="cardTransform">


                <h2>KRZYSZTOF<br>PAŹDZIOR.</h2>
                

                <div class="line"></div>
                <div class="card-bottom">
                    <div class="left-bottom">
                        <span>
                            pazdzior.krzysztof.dev&#64;gmail.com<br>
                        </span>
                        <span>
                            pazdzior-web-dev.netlify.app
                        </span><br>
                        <span id="phone">+48 731 231 737</span>
                    </div>
                    
                    <!-- <div class="line v-line"></div> -->
                    <p>
                        Gliwice,<br>
                        Poland,<br>
                        Earth
                    </p>
                </div>
              </div>
        </div>    
        <div class="form-wrapper">
            <form [formGroup]="contactForm" (submit)="onSubmit($event)">
                <label>{{"CONTACT.LABEL_1" | translate}}</label>
                <input type="text" formControlName="name">
                <label>{{"CONTACT.LABEL_2" | translate}}</label>
                <input type="email" formControlName="email">
                <label>{{"CONTACT.LABEL_3" | translate}}</label>
                <input type="tel" formControlName="phone">
                <label>{{"CONTACT.LABEL_4" | translate}}</label>
                <textarea name="" id="" rows="4" formControlName="content"></textarea>
                <p id="validator"></p>
                <button class="submit-btn" [ngClass]="{'flying': rocketFlying}">
    {{"CONTACT.SUBMIT" | translate}} <i class="bi bi-rocket-fill rocket" [ngClass]="{'rocket-fly': rocketFlying}"></i>
</button>
            </form>
        </div>
    </div>   
     
    <img src="backgrounds/contact-bg-2.webp" alt="background night panorama full of stars">
</section>